# SMTP Configuration
SMTP_HOST=webmail.postassl.it         # Host del server SMTP
SMTP_PORT=587                         # Porta per la connessione SMTP
SMTP_USER=Info@filyimpianti.it        # Username per l'autenticazione SMTP
SMTP_PASSWORD=your_smtp_password_here # Password per l'account SMTP
RECIPIENT_EMAIL=filyimpianti.mail@gmail.com # Email destinatario predefinito

#map id
NEXT_PUBLIC_GOOGLE_MAPS_ID=5af6c7812c55ed29

# Google API Keys (visibili al client)
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyBvjRszlO-pYpnffAVYgQsnarBtEi8VpSc # API Key Google Maps
NEXT_PUBLIC_GOOGLE_PLACE_ID=your_google_place_id                        # Place ID per Google Maps
#mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoiZmlseWltcGlhbnRpIiwiYSI6ImNtNHdueWFwNDA2dnYya3IwamxibGJwdTEifQ.9j-puKYjscfE8iFY5RvkhA
# Environment
NODE_ENV=development                        # Ambiente di esecuzione (development|production|test)
NEXT_PUBLIC_API_URL=http://localhost:3000   # URL base dell'API
NEXT_PUBLIC_ASSET_PREFIX=https://cdn.filyimpianti.it # Prefisso per asset statici
NEXT_PUBLIC_GOOGLE_ANALYTICS=G-XC5QMSHZKQ   # Codice Analytics (esempio Google Analytics 4)

# Logging
LOG_LEVEL=info                          # Livello di log (info|warn|error)
LOGTAIL_SOURCE_TOKEN=your_logtail_token # Token per Logtail (opzionale)

# Monitoring
SENTRY_DSN=your_sentry_dsn              # DSN per Sentry (monitoring degli errori)

# Testing
CYPRESS_BASE_URL=http://localhost:3000  # Base URL per i test Cypress

# Variabili Specifiche per Test
TEST_EMAIL=test@tuoemail.com             # Email utilizzata nei test
TEST_SMTP_HOST=smtp.test.com             # Server SMTP per test
TEST_SMTP_USER=test@test.com             # User SMTP per test
TEST_SMTP_PASSWORD=your_test_password    # Password SMTP per test
