# SMTP Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
RECIPIENT_EMAIL=

#map id
NEXT_PUBLIC_GOOGLE_MAPS_ID=

# Google API Keys (visibili al client)
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_GOOGLE_PLACE_ID=
#mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=
# Environment
NODE_ENV=production
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_ASSET_PREFIX=
NEXT_PUBLIC_GOOGLE_ANALYTICS=

# Logging
LOG_LEVEL=info
LOGTAIL_SOURCE_TOKEN=

# Monitoring
SENTRY_DSN=

# Testing
CYPRESS_BASE_URL=

# Variabili Specifiche per Test
TEST_EMAIL=
TEST_SMTP_HOST=
TEST_SMTP_USER=
TEST_SMTP_PASSWORD=

# Security
NEXT_PUBLIC_CSP_NONCE=
HSTS_MAX_AGE=63072000

# Cache
STATIC_CACHE_DURATION=31536000
API_CACHE_DURATION=3600

# Rate Limiting
RATE_LIMIT_REQUESTS=100
RATE_LIMIT_WINDOW_MS=900000
